.menu{
    margin-top:10px;
    margin-bottom:50px;
    
}
.menu li{
    border:1px solid blue;
}

#login-page, #register-page{
    margin-top:200px;
}
.errors, .bg-warning, .bg-success{
    padding:15px;
}
.phonebooks{
    margin-bottom:30px;
}
td{
    padding:15px;
}
.filter input{
    width:100px;
}
.add-contact-form input{
    width:40%;
}
.add-contact-form label{    
    display: block;
    margin:10px 0;
}